<div class="my-6 p-3 bg-off-white shadow-md">
  <div class="flex justify-between text-xs text-blue-grey-light font-serif italic">
    <span class="text-center">{{moment-format @date "dddd MMM Do YYYY"}}</span>
    <span class="text-center">{{@position}}</span>
  </div>
  <div class="text-lg py-3 text-blue-grey-dark font-hairline">
    {{@subject}}
  </div>
  <div class="text-blue-grey-dark text-base leading-normal font-serif tracking-wide border-t-4 border-blue-grey-light pt-3">
    {{{@body}}}
  </div>

  {{yield}}
</div>
